---
import Layout from '../layouts/Layout.astro';
import FacebookEventLink from '../components/FacebookEventLink.astro';

import { REFUND_DATE } from '../constants';
---

<Layout title={'FAQs'}>
  <div>
    <div class="row striped py-3">
      <div class="col">
        <h1>Before the festival</h1>
        <h4>What should I bring?</h4>
        <ul>
          <li>Hard cases for your musical instruments</li>
          <li>Dance shoes - smooth soles are best for this style of dancing</li>
          <li>
            A towel. Showers are communal (male/ female), but there's also an
            accessible shower for those who need more space or want to shower
            solo.
          </li>
          <li>Sleeping bag, mat, pillow (if you're indoor camping)</li>
          <li>
            Everything you need for camping (if you're outdoor camping). Hot
            water bottles are a good idea!
          </li>
          <li>
            Ear plugs, if you need them. We move the dancing from the main hall
            at around 1am so people can sleep, but music and chatter do travel
            (and we can't promise no snoring!)
          </li>
          <li>
            Cake, biscuits, and any other snacks you'd like to share. Vegan and
            gluten free versions particularly welcome.
          </li>
          <li>
            Anything you want to drink in the evening - there's no bar on-site
          </li>
          <li>
            Your Skint cup from last year. Or even better, a cup from another
            festival. We’re trying to be sustainable, so will only be giving out
            new cups to those who weren’t at Skint last year.
          </li>
          <li>Swimming costume/ spare towel for the sauna.</li>
        </ul>

        <h4>
          I’m coming on my own, is there a pre-Skint facebook group I can join
          to connect with others before I come?
        </h4>

        <p>
          Yes, you can connect with others through the <FacebookEventLink />.
          This is a great place to ask questions, borrow sleeping bags, and
          share travel plans. Click on the ‘discussion’ tab to see other
          people’s posts and join the conversation.
        </p>
      </div>
    </div>
    <div class="row striped py-3">
      <div class="col">
        <h1>At the festival</h1>

        <h4>What is the schedule for the weekend?</h4>

        <p>
          The full festival programme will be on display when you get to the
          hall, including dance and music workshops, and evening bals, all
          taught & played for by Skint participants
        </p>

        <p>In the meantime, here is an outline of timings for the weekend:</p>

        <table class="table table-condensed table-bordered">
          <tr>
            <td>Festival opens</td>
            <td>5pm on Friday</td>
          </tr>
          <tr>
            <td>Friday bal</td>
            <td>8.30pm until late</td>
          </tr>
          <tr>
            <td>Saturday workshops</td>
            <td>10am - 6.15pm</td>
          </tr>
          <tr>
            <td>Saturday bal</td>
            <td>8.30pm until late</td>
          </tr>
          <tr>
            <td>Sunday workshops</td>
            <td>10am - 12.45pm</td>
          </tr>
          <tr>
            <td>Sunday afternoom bal</td>
            <td>3.30 - 5pm</td>
          </tr>
          <tr>
            <td>Festival ends</td>
            <td>5pm on Sunday</td>
          </tr>
        </table>

        <h4>Is Skint a family friendly festival?</h4>

        <p>
          We like kids at Skint and over the years more and more have been
          coming along :-) Whilst Skint is definitely a family friendly
          festival, we don’t yet have a full children’s programme. There are
          likely to be some workshops for kids during the festival. However,
          parents & carers, please bring stuff to entertain your children and
          remember you are responsible for your children throughout the
          festival.
        </p>

        <p>
          We do our best to set aside a dedicated space for parents and kids.
          There is also a small playground on the field at the back of the hall.
        </p>

        <h4>What time should I arrive on the Friday?</h4>

        <p>
          The festival officially opens at 5pm on Friday and dinner will be
          served 6 - 8pm
        </p>

        <p>
          Anyone arriving before 5pm will be drafted in to help with set up!
          You’re welcome to arrive from 2.30pm on Friday afternoon if you’d like
          to volunteer with setting up the hall, loading in and setting up the
          PA, putting up lighting, and welcoming people as they arrive.
        </p>

        <h4>
          How do I find out what workshops are happening/ who is playing in the
          evening bals?
        </h4>

        <p>
          The programmes for workshops and evening bals are displayed on
          whiteboards in the main hall on a day-by-day basis. You can usually
          find the evening bal programme at the front of the hall next to the
          stage, and the workshops programme at the back of the hall next to the
          serving hatch.
        </p>

        <h4>How can I sign up to volunteer at Skint?</h4>

        <p>
          Skint is a festival where everyone contributes, whether by leading a
          workshop, playing for dancing, chopping vegetables, washing up or
          something else. Even the organising committee are volunteers and pay
          for their own tickets!
        </p>

        <p>
          There will be a volunteer rota in the small hall (Fabrick Room), and
          you'll be asked to sign up for one or two shifts over the weekend. If
          you later find you can’t do your shift, PLEASE find someone to swap
          with or let a committee member know so we don't end up with important
          jobs being missed.
        </p>

        <h4>
          How do I sign up to run a workshop/ play for dancing in the evening?
        </h4>

        <p>
          If you’d like to run a workshop, play for a workshop, or play for an
          evening bal look out for call outs a couple of months before the
          festival. We organise these volunteer roles in advance, so keep an eye
          on your emails.
        </p>

        <h4>Will there be a quiet room at Skint?</h4>

        <p>
          Skint is a wonderfully busy and buzzing festival. We appreciate that
          many people might need to take a break over the course of the weekend,
          so we’re trialing a small quiet room this year. Look out for more
          information when you arrive.
        </p>
        <p>
          In addition, we’ve put together a list of quiet-ish spaces in and
          around the festival. If you think you might need a space to rest, get
          away from the crowds, or have a nap over the weekend, we suggest
          having a read in advance so you know what to expect.
        </p>

        <h4>
          Where can I find information about what is available around the
          village?
        </h4>

        <p>
          We have collected useful information about transport, food and drinks,
          and local walks in Ashover on our <a href="/yourvisit">Your Visit</a> page.
        </p>
      </div>
    </div>
    <div class="row striped py-3">
      <div class="col">
        <h1>Tickets</h1>
        <h4>What does it cost to come to Skint?</h4>
        <p>
          An adult weekend ticket with all meals and indoor/ outdoor camping
          costs £53. A child weekend ticket with all meals and indoor/ outdoor
          camping costs £30.
        </p>
        <p>
          However, we’ve broken this down so you can choose just the parts you
          want. You’ll need to select admission, meals, and camping options
          separately when you book.
        </p>
        <p>
          We want Skint to be accessible to everyone. If you're struggling with
          the cost of attending, please use the discount code REALLYSKINT for an
          automatic £11 off the ticket price. On the other hand, if you can
          afford a bit more we're offering the option to 'sponsor a Skinter' by
          adding a donation when you book.
        </p>

        <h4>How can I find out when tickets are going on sale?</h4>
        <p>
          We announce important ticket dates via our mailing list and on our
          Facebook page. Sign up to <a href="/contactus">our mailing list</a> and
          follow us <a
            target="_blank"
            href="https://www.facebook.com/skintdance"
          >
            on Facebook
          </a>
          here:
        </p>

        <h4>
          Help, the ticket site won’t let me add as many festival tickets as I
          need! How can I add an extra adult/ child ticket to my booking?
        </h4>
        <p>
          We limit bookings to 2 adults and 2 kids per customer. This is to
          prevent block booking of tickets, and also to make sure that there are
          enough adults to supervise kids throughout the festival. If you have
          more than 2 adults (aged 16 or over) in your family or group, you’ll
          need to make two separate bookings. Likewise if you want to bring 3
          children you’ll need to make two bookings, each one with an adult
          attached to it.
        </p>

        <p>
          If it all goes wrong, don’t worry! <a
            href="mailto:skint.dance@gmail.com"
          >
            Send us an email
          </a> with what you think has happened and we’ll get it sorted
        </p>

        <h4>Is there a waiting list for tickets and can I be put on it?</h4>
        <p>
          We don’t have a waiting list. We’ve decided the fairest way to
          reallocate tickets is to release them all on the same day, so you
          don’t need to keep checking the website. Any available festival and
          meal tickets from returns and cancellations will be released on the
          website on these dates:
          <ul>
            <li>
              Second ticket release - {SECOND_TICKET_RELEASE}
            </li>
            <li>
              Third ticket release - {THIRD_TICKET_RELEASE}
            </li>
          </ul>
        </p>

        <p>
          After this date, any tickets that become available due to last-minute
          cancellations will immediately become available on the website, so
          please check back there.
        </p>

        <h4>Where is the best place to find resales from cancellations?</h4>
        <p>
          Skint tickets are non-transferrable. Please don’t buy a ticket from
          anyone else as it won’t be valid for entry to the festival. This also
          applies to meal and camping tickets.
        </p>

        <h4>Is it possible to buy a day/ evening ticket on the day?</h4>
        <p>
          Yes, subject to availability. All tickets are being sold online, so we
          strongly recommend buying your ticket before you come. We do not have
          an extra allocation of tickets on the door, so if we’re sold out
          online then we’re sold out.
        </p>

        <h4>
          Your website says you’re sold out of tickets. I’m a musician/ dancer/
          generally helpful person, can I get a ticket?
        </h4>
        <p>
          No, sorry! Everyone at Skint is a volunteer and helps to make the
          festival happen, so we don’t have a separate allocation of tickets for
          volunteers. If the website says we’re sold out that means we’ve
          reached the maximum number of people we can comfortably fit in the
          venue, so sadly means we won’t be able to squeeze you in.
        </p>
        <p>
          Please do look out for tickets becoming available on the second and
          third release dates. You can also sign up to <a href="/contactus">
            our mailing list
          </a> to make sure you’re one of the first to hear when tickets go on sale
          for next year’s festival
        </p>

        <h4>I’m struggling with costs, can you help?</h4>
        <p>
          Yes we can. Please use the discount code REALLYSKINT for an automatic
          £11 off the ticket price, with no questions asked. We also have a
          small fund to support people to come who otherwise wouldn't be able to
          afford it, even with the discount. If that's you, please <a
            href="/contactus"
          >
            get in touch
          </a>
        </p>

        <h4>
          I can’t make it anymore, can you transfer my tickets to my friend?
        </h4>
        <p>
          Skint tickets are non-transferrable for a few reasons. Firstly, we
          think it gives fairer access to tickets for everyone, and secondly we
          oversell slightly to allow for cancellations so not all canceled
          tickets will be resold. Please don’t give or sell a ticket to anyone
          else as it won’t be valid for entry to the festival. This also applies
          to meal and camping tickets.
        </p>
        <p>
          Instead, please <a href="mailto:skint.dance@gmail.com">email us</a> to
          let us know you can’t make it. Then tell your friend to mark their diary
          for the second and third ticket release dates. After these dates, any tickets
          that become available due to last-minute cancellations will immediately
          become available on the website, so they should check there instead.
        </p>

        <h4>I can’t make it anymore, can you refund my ticket?</h4>
        <p>
          If you get in touch on or before {REFUND_DATE}, yes we can. Please <a
            href="mailto:skint.dance@gmail.com"
          >
            email us
          </a>. You’ll receive a refund of 75% of your ticket costs, as stated
          in the booking terms and conditions
        </p>
        <p>
          If it’s after {REFUND_DATE}, I’m afraid you’re too late for a ticket
          refund but if you let us know, it might let someone else come to Skint
          as we will release the ticket as quickly as we can. Please <a
            href="mailto:skint.dance@gmail.com"
          >
            email us
          </a>.
        </p>

        <h4>
          I can’t make it anymore but I don’t need a refund. Please can you
          donate my ticket to someone else?
        </h4>
        <p>
          That’s a very lovely thought, thank you! Unfortunately our system
          isn’t set up to make this happen. The most helpful thing you can do is <a
            href="mailto:skint.dance@gmail.com"
          >
            email us
          </a> to request a refund, so that we can release the space for someone
          else to book.
        </p>

        <h4>Why are there no ticket refunds after {REFUND_DATE}?</h4>
        <p>
          To be fair to everyone that wants to come, we try to strike a balance
          between the needs of people that were lucky enough to get tickets the
          first time round and the needs of people that might still want to buy
          a ticket. We think that a month before the festival you will most
          likely know whether you’ll be able to make it or whether you’ve had a
          better offer for that weekend, so {REFUND_DATE} is not an unreasonable
          cut off. On the other hand, if someone is going to cancel we want to encourage
          that to happen before {REFUND_DATE} so that anyone wanting tickets has
          time to plan their travel, etc, for the weekend.
        </p>
        <p>
          We do understand that illness can happen at the last minute and
          prevent you from coming to the festival. If that’s the case please do
          <a href="mailto:skint.dance@gmail.com">get in touch</a> and we’ll see what
          we can do on a case by case basis.
        </p>
      </div>
    </div>
    <div class="row striped py-3">
      <div class="col">
        <h1>Meals and self-catering</h1>
        <h4>
          What are the meals like at Skint? Can I choose my meals in advance?
        </h4>
        <p>
          All food at Skint is delicious, vegetarian, and prepared by
          Skint-goers themselves. There is one hot dish available for each meal
          and typical examples would be curry, stew, or jacket potatoes. To
          cater for different needs and tastes, we generally have plenty of
          optional extras so that you can choose for yourself whether to add
          cheese, yogurt or coriander.
        </p>

        <h4>I have an allergy/ dietary restriction. Can you cater for me?</h4>

        <p>
          All meals are vegetarian and we can provide vegan options too. We do
          our best to cater for those with intolerances and allergies. However
          the kitchen is very small, making it hard to guarantee that there
          won’t be cross-contamination, so if you’re very sensitive you may wish
          to bring your own food instead. We will be in touch by email around a
          month before the festival to collect information about dietary
          requirements, so please keep an eye on your inbox and feel free to get
          in touch if you haven’t heard from us or if you have any further
          questions.
        </p>

        <h4>Is breakfast provided?</h4>

        <p>
          Breakfast is provided for everyone with camping tickets, both indoor
          and outdoor camping. Breakfast is self-service and is available 9:00am
          - 9:50am in the main hall. Please arrive early for the full selection
          of breakfast options.
        </p>

        <h4>I can’t remember if I bought meal tickets, how can I check?</h4>
        <p>
          You will have received a booking confirmation from TicketSource when
          you first booked that has details of your meals and camping as well as
          festival tickets. Try searching your inbox for emails from:
          customer.services@ticketsource.co.uk or with the subject "Booking
          confirmation for Skint 2025"
        </p>

        <h4>
          I forgot to add meal tickets when I booked, is it possible to buy them
          now?
        </h4>
        <p>
          Yes, subject to availability. If meal tickets are still available you
          can fill in the booking form again, selecting the items that you
          missed and including your name and email address so we know that it’s
          you. A quirk of the booking site is that it won’t let you book extras
          without also selecting a festival ticket, so please choose the free
          ‘placeholder ticket’ option. Please note the placeholder ticket is not
          valid for entry to the festival and does not make any extra options
          magically appear - if meals are sold out then you will not be able to
          purchase them.
        </p>

        <h4>
          I missed out on meal tickets, is there a waiting list for
          cancellations?
        </h4>
        <p>
          We don’t have a waiting list for meal tickets. We’ve decided the
          fairest way to reallocate tickets is to release them all on the same
          day, so you don’t need to keep checking the website. Any available
          meal tickets from returns and cancellations will be released on the
          website as part of a second and third ticket releases
        </p>
        <p>
          After these dates, any tickets that become available due to
          last-minute cancellations will immediately become available on the
          website, so please check back there.
        </p>
        <p>
          In both cases, please use the free ‘placeholder ticket’ option when
          you book, as the booking website won’t let you select meal tickets
          without a festival ticket as well.
        </p>

        <h4>
          I’ve decided to self-cater, can you transfer my meal tickets to my
          friend?
        </h4>
        <p>
          All Skint tickets are non-transferrable, including meal tickets. This
          is because we think it gives fairer access to tickets for everyone.
          Please don’t give or sell meal tickets to anyone else as it won’t be
          valid.
        </p>
        <p>
          Instead, please <a href="mailto:skint.dance@gmail.com">email us</a> to
          let us know you no longer want the tickets. Then tell your friend to mark
          their diary for the second and third ticket release dates. After these
          dates, any meal tickets that become available due to last-minute cancellations
          will immediately become available on the website, so they should check
          there instead.
        </p>

        <h4>How come there are less meal tickets than festival tickets?</h4>
        <p>
          A small downside of our wonderful venue is that the kitchen is rather
          tiny, which makes mass catering a challenge. We used to limit the
          number of festival tickets to the number of people we could cook for,
          which meant that everyone could eat together but we also had to turn
          lots of people away. In the last few years, we’ve offered more
          festival tickets than meal tickets so that more people can join in the
          weekend but it does mean that some festival-goers have to find their
          own food for the weekend. We’re working on increasing the number of
          meals that we cook so that as many people as possible can share in the
          communal meal, if they want to.
        </p>

        <h4>
          I haven’t got meal tickets, what other food options are available at
          the festival?
        </h4>
        <p>
          There are plenty of options for eating lunch & dinner off-site, with
          three pubs and a cafe within easy walking distance. You can find more
          details on our <a href="/yourvisit">Your Visit</a> page. Please check their
          websites for up-to-date opening times.
        </p>
        <p>
          You are also welcome to bring your own food to eat on site. Please
          note that there is only one shop in the village, with limited opening
          hours, so you may want to do your food shopping before you get to
          Ashover.
        </p>

        <h4>
          The meal tickets are not affordable for me right now, can you help?
        </h4>
        <p>
          Thanks to you and the <a href="https://sifd.org/" target="_blank">
            SIFD
          </a> we have a fund to support people to come who otherwise wouldn't be
          able to afford it. If you're struggling with to afford food tickets please
          <a href="mailto:skint.dance@gmail.com">get in touch</a>, as we have a
          small number that we can make available for free.
        </p>
      </div>
    </div>
    <div class="row striped py-3">
      <div class="col">
        <h1>Accommodation</h1>
        <h4>Is it possible to borrow a sleeping bag/ sleeping mat/ tent?</h4>
        <p>
          The Skint community is full of friendly, helpful people. We suggest
          asking on the <FacebookEventLink /> and most likely someone will be able
          to help you out. Click on the ‘discussion’ tab to see other people’s posts
          and add your own post.
        </p>

        <h4>Can I bring my campervan to sleep in?</h4>
        <p>
          Yes. You’ll need to buy an ‘outdoor camping’ ticket for everyone that
          is planning to sleep in your campervan. When you arrive at the
          festival we’ll give you directions to the camping field, where there
          is a small amount of hardstanding for use by campervans. Please note
          that campervans are not permitted overnight in the main car park, by
          order of the council, and this is externally enforced.
        </p>

        <h4>
          I booked a ticket for indoor camping, can I switch to outdoor camping
          instead?
        </h4>
        <p>
          Yes, we have limited space for indoor camping but lots of outdoor
          space so it’s not a problem to change to outdoor camping. Please <a
            href="mailto:skint.dance@gmail.com"
          >
            email us
          </a> to let us know so that we can make the indoor space available to someone
          else
        </p>

        <h4>
          I booked a ticket for outdoor camping, can I switch to indoor camping
          instead?
        </h4>
        <p>
          Maybe, we have lots of space for outdoor camping but only limited
          space for indoor camping. If indoor camping is showing as sold out on
          our <a href="tickets">ticket page</a>, then we’re afraid it will not
          be possible to change. If our ticket page shows that indoor camping
          spaces are available, please drop us an email and we can make the
          change for you: skint.dance@gmail.com
        </p>

        <h4>
          I’ve booked accommodation nearby and I’m looking for other people to
          share with me. What’s a good way to advertise?
        </h4>
        <p>
          Wow, that’s so organised! We’d suggest posting on the <FacebookEventLink
          />. Click on the ‘discussion’ tab to see other people’s posts and add
          your own post.
        </p>

        <h4>
          I need access to my bed during the day. Is there somewhere I can set a
          bed up for the whole weekend?
        </h4>

        <p>
          Yes, there are a couple of options. Some people choose to outdoor camp
          for this reason. We’d recommend warm bedding and hot water bottles as
          it’s likely to be cold in November!
        </p>

        <p>
          Most people who are indoor camping will need to pack away their beds
          during the day, as we use these spaces for workshops and for the
          evening dances. However, there are a few sleeping spaces on the stage
          that can be left in place all weekend. If having your own bed set up
          is important to help you access the festival, please email us and we
          can reserve you a space.
        </p>

        <p>
          Even if you don’t have a stage space, we run a ‘borrow a bed’ scheme.
          Look out for markers placed on beds to know who is happy for you to
          take a nap on their bed while they’re not using it during the day.
        </p>
      </div>
    </div>
    <div class="row striped py-3">
      <div class="col">
        <h1>Travel</h1>
        <h4>
          I’m looking for a lift. Is anyone driving to Skint from [my city]?
        </h4>
        <p>
          To help organise car sharing we will be sending out a link to a
          specific website where drivers can advertise any spare car spaces, so
          look out for this in your emails.
        </p>
        <p>
          If you can’t find a lift, don’t worry as it’s very possible to get to
          Skint by public transport. You can find more details on our <a
            href="/yourvisit"
          >
            Your Visit
          </a>
          page.
        </p>
        <h4>
          I’m looking for a lift from Chesterfield train station. Can anyone
          pick me up?
        </h4>
        <p>
          To help organise car sharing we will be sending out a link to a
          specific website just for Skint attendees where drivers can advertise
          any spare car spaces, so look out for this in your emails. As part of
          this we’ll be asking drivers if they are able to offer lifts from the
          nearest train station at Chesterfield, so you can see who might be
          able to pick you up.
        </p>
        <p>
          If you can’t find a lift, it’s also possible to get to Ashover from
          Chesterfield by bus (depending on the time of day) and by taxi. You
          can find more details on our <a href="/yourvisit">Your Visit</a> page.
        </p>

        <h4>I’m traveling to Skint from outside the UK. Will I need a visa?</h4>
        <p>
          Maybe. It depends on your nationality, where you’re coming from, and
          what else you might be doing while you’re in the UK. You can check UK
          government advice here: <a
            target="_blank"
            href="https://www.gov.uk/check-uk-visa"
          >
            www.gov.uk/check-uk-visa
          </a>
        </p>

        <h4>I’m struggling with travel costs, can you help?</h4>
        <p>
          Thanks to you and <a target="_blank" href="https://sifd.org/">
            the SIFD
          </a>, we have a fund to support people to come who otherwise wouldn't
          be able to afford it. If you're struggling with transport costs please
          get in touch: skint.dance@gmail.com
        </p>
      </div>
    </div>

    <div class="row striped py-3">
      <div class="col">
        <h1>Others</h1>
        <h4>Please can you add me to the Skint mailing list?</h4>
        <p>
          Yes of course! You can find our <a href="/contactus">
            mailing list here
          </a>
        </p>

        <h4>
          Our band would like to play at your festival. Please can you book us?
        </h4>
        <p>
          Skint is kind of an unusual festival in that all of the music and
          workshops are led by participants, so we don't ever book anyone
          especially to come and play or teach. If you want to play at Skint,
          all of your band members will need to buy a ticket, then keep an eye
          on your emails for more information about how to sign up to play for a
          workshop or for one of the evening bals.
        </p>

        <h4>I lost an item at the festival. How can I get it back?</h4>
        <p>
          If you lost anything, please <a href="mailto:skint.dance@gmail.com">
            contact us
          </a>
          Please also keep an eye on your emails as we’ll send out details of found
          property after the festival. We can arrange to get your items back to you
          either by regular post or folk post!
        </p>

        <h4>Can I donate to Skint to help support the festival?</h4>
        <p>
          Yes you can. When you book your Skint tickets you’ll be able to add an
          optional donation. This goes towards the running of the festival, and
          more specifically allows us to offer discounted tickets to those that
          need them, so it’s much appreciated. Thank you!<p></p>
        </p>
      </div>

      <style lang="scss">
        th {
          font-weight: bold;
          font-size: larger;
          background-color: #dddddd !important;
        }
        h4 {
          padding-top: 1em;
        }
      </style>
    </div>
  </div>
</Layout>
