---
import DatesAndBooking from '../components/DatesAndBooking.astro';
import Layout from '../layouts/Layout.astro';

import {
  REFUND_DATE,
  FIRST_TICKET_RELEASE,
  SECOND_TICKET_RELEASE,
  THIRD_TICKET_RELEASE,
} from '../constants';
---

<Layout title={'Tickets'}>
  <DatesAndBooking />
  <div class="pt-3 pe-1">
    <p>
      To be alerted when our booking opens, please sign up to our mailing list
      below or follow us on <a href="https://www.facebook.com/skintdance">
        Facebook
      </a>
    </p>

    <p>
      Booking for Skint 2025 will take place in 3 rounds:
      <h5>Main ticket release</h5>
      <p>
        <strong>{FIRST_TICKET_RELEASE}</strong> - We will release most Skint tickets
        in the first round, so if you already know you want to come we recommend
        booking on this date.
      </p>
      <h5>Second ticket release</h5>
      <p>
        <strong>{SECOND_TICKET_RELEASE}</strong> - We will release a smaller number
        of tickets a month before Skint, so that new dancers & those that have only
        just discovered balfolk over the summer have a chance to come too.
      </p>
      <h5>Third ticket release</h5>
      <p>
        <strong>{THIRD_TICKET_RELEASE}</strong> - There are usually a handful of
        last-minute spaces due to cancellations in the run up to Skint. These will
        be made available in the 3rd ticket release. Any additional spaces due to
        cancellations after this date will become available on the website as soon
        as they are processed.
      </p>
    </p>

    <h3>Tickets and Booking</h3>

    <p>
      We're offfering 3 kinds of festival tickets. You only need one kind! You
      can book up to 2 adult places and 2 child places per customer - if there
      are more people than this in your group you will need to make more than
      one booking.
    </p>

    <ul>
      <li>
        <strong>Weekend ticket</strong> - Entry to the whole festival, from Friday
        evening to Sunday afternoon.
      </li>
      <li>
        <strong>Kids Weekend ticket</strong> - Entry is free for children under 16,
        please reserve a space using the free 'kids ticket' option. Please also buy
        meals and camping for kids as needed.
      </li>
      <li>
        <strong>Day / Evening tickets</strong> - If you're not joining us for the
        whole weekend, choose the times you want to come.
      </li>
    </ul>

    <p>
      Accommodation and meals are optional items. This allows you to choose
      which parts of Skint you want to enjoy, and lets us know how many people
      to cater for.
    </p>

    <ul>
      <li>
        <strong>Accommodation</strong> - Choose from indoor camping (sleeping in
        the hall) or outdoor camping (bring a tent or campervan). Breakfast is provided
        for all indoor and outdoor campers
      </li>
      <li>
        <strong>Food</strong> - You need a ticket for each meal - Friday dinner,
        Saturday lunch, Saturday dinner, and Sunday lunch.
      </li>
    </ul>

    <div class="p-1 mb-4 bg-body-secondary rounded-3">
      <div class="container-fluid py-5">
        <h3>Meals Update 2025</h3>
        <p>
          Our fantastic catering team would love to feed everyone at the
          festival, so this year they've taken on the challenge of cooking more
          meals than ever. We'll be making 150 tickets available per meal, which
          we think will be enough to feed pretty much everyone that want to join
          in the communal meals.
        </p>
        <p>
          Please help us out in our mission to be inclusive by thinking about
          how many meal tickets you really need. If you'd be happy to go to a
          <a href="/yourvisit">pub or cafe in the village</a> for one of the meals,
          or you have kitchen facilities in your off-site accommodation, then please
          consider buying fewer meal tickets to leave spaces available for others.
        </p>
        <p>
          <strong>Self-catering on site</strong> - If you haven't bought meal tickets,
          you are still welcome to bring your own food to the festival. There will
          be space for you to sit at mealtimes, but please note there will be no
          food storage or cooking facilities available.
        </p>
      </div>
    </div>

    <p>
      <strong>
        Tickets are non-transferrable, including meal and camping tickets.
      </strong> Names must be provided for each place, as tickets are only valid
      for the named person. You cannot sell or give them to someone else. This is
      to make the booking process fair for everyone. We reserve the right to cancel
      tickets obtained in contravention of the rules
    </p>

    <h3>Discounts and Donations</h3>

    <p>
      We want Skint to be accessible to everyone. If you're struggling with the
      cost of attending, please use the discount code REALLYSKINT for an
      automatic £11 off the ticket price. We also have a small fund to support
      people to come who otherwise wouldn't be able to afford it, even with the
      discount. If that's you, please <a href="/contactus">get in touch</a>
    </p>

    <p>
      On the other hand, if you can afford a bit more we're offering the option
      to 'sponsor a Skinter' by adding a donation when you book.
    </p>

    <h3>Cancellations and Refunds</h3>

    <p>
      If your circumstances change & you are unable to attend Skint, please let
      us know <a href="mailto:skint.dance@gmail.com">by email</a> as soon as possible
    </p>

    <p>Cancellations up to {REFUND_DATE} - 75% refund.</p>
    <p>Cancellations after {REFUND_DATE} - no refund will be given.</p>

    <h3>Waiting list & last-minute tickets</h3>

    <p>
      This includes festival tickets and meal tickets. There is <u>
        no waiting list
      </u> for tickets, including festival tickets and meal tickets. Instead, please
      check the website on the ticket release dates listed at the top of the page.
      After the third ticket release date, if any tickets become available due to
      cancellations they will immediately become available on the booking site, so
      please check back there.
    </p>

    <p>
      Please buy your tickets before you come. All tickets are being sold
      online. If day or evening tickets are sold out online, there won't be any
      extra to buy on the door.
    </p>

    <h3>Booking Protection Warning</h3>
    <h5>"Make your tickets refundable"</h5>

    <p>
      You will be offered booking protection as part of the booking process. The
      heading is slightly misleading as your tickets are already refundable up
      to {REFUND_DATE}.
    </p>
    <p>
      Additional ticket protection is offered automatically by XCover and
      TicketSource (not by Skint). We recommend that you choose the
      'non-refundable ticket' option. If you do choose ticket protection, please
      read the T&Cs carefully to check what circumstances are covered. Any
      claims should be made directly to XCover (not to Skint).
    </p>

    <h3>Costs</h3>

    <p>
      A full weekend ticket with all meals and camping costs <strong>
        £53
      </strong> (or <strong>£30</strong> for children under 16). We let you pick
      and choose which parts you want, so your total price per person may come to
      less than this.
    </p>

    <div class="container" style="margin-bottom:20px">
      <table
        class="table table-condensed table-bordered"
        style="background-color:#fff"
      >
        <tr>
          <th colspan="3">Festival admission</th>
        </tr>
        <tr>
          <td>Weekend admission (adult)</td>
          <td style="width:70px">&pound;23</td>
        </tr>
        <tr>
          <td>Kids weekend admission (under 16)</td>
          <td style="width:70px">&pound;0</td>
        </tr>
        <tr>
          <td>Friday evening bal, from 8pm</td>
          <td style="width:70px">&pound;6</td>
        </tr>
        <tr>
          <td>Saturday workshops, 10am-7pm</td>
          <td style="width:70px">&pound;6</td>
        </tr>
        <tr>
          <td>Saturday evening bal, from 8pm</td>
          <td style="width:70px">&pound;6</td>
        </tr>
        <tr>
          <td>Sunday workshops and bal, 10am-5pm</td>
          <td style="width:70px">&pound;6</td>
        </tr>
        <tr>
          <th colspan="3">Optional Extras: Meals</th>
        </tr>
        <tr>
          <td>Friday evening, 6pm</td>
          <td style="width:70px">&pound;5.50</td>
        </tr>
        <tr>
          <td>Saturday lunch, 1pm</td>
          <td>&pound;4.50</td>
        </tr>
        <tr>
          <td>Saturday evening, 6pm</td>
          <td>&pound;5.50</td>
        </tr>
        <tr>
          <td>Sunday lunch, 1pm</td>
          <td>&pound;4.50</td>
        </tr>
        <tr>
          <th colspan="2">Optional Extras: Accommodation</th>
        </tr>
        <tr>
          <td>
            Indoor camping
            <div style="font-size:smaller">
              Friday & Saturday nights. Camping in the hall. Bring camping mat,
              sleeping bag & ear plugs!
            </div>
          </td>
          <td style="width:70px">&pound;10</td>
        </tr>
        <tr>
          <td>
            Outdoor camping
            <div style="font-size:smaller">
              Friday & Saturday nights. Camping in a nearby field. Bring a tent
              & thermals!
            </div>
          </td>
          <td style="width:70px">&pound;10</td>
        </tr>
      </table>
    </div>
  </div>
</Layout>

<style lang="scss">
  th {
    font-weight: bold;
    font-size: larger;
    background-color: #dddddd !important;
  }
</style>
